C:\GithubRepo\GTVis\DerivedDataCache
C:\GithubRepo\GTVis\Saved
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0002/UEMinidump.dmp
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0002/GTVisComposureRender.log
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0002/CrashReportClient.ini
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0002/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0001/UEMinidump.dmp
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0001/GTVisComposureRender.log
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0001/CrashReportClient.ini
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0000/GTVisComposureRender.log
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C_0000/CrashContext.runtime-xml
Saved/Screenshots/WindowsEditor/HighresScreenshot00003.png
Saved/MovieRenders/Sq_MainComp.0068.exr
Saved/MovieRenders/Sq_MainComp.0067.exr
Saved/MovieRenders/Sq_MainComp.0066.exr
Saved/MovieRenders/Sq_MainComp.0065.exr
Saved/MovieRenders/Sq_MainComp.0037.exr
Saved/MovieRenders/Sq_MainComp.0036.exr
Saved/MovieRenders/Sq_MainComp.0035.exr
Saved/MovieRenders/Sq_MainComp.0034.exr
Saved/MovieRenders/Sq_MainComp.0033.exr
Saved/MovieRenders/Sq_MainComp.0032.exr
Saved/MovieRenders/Sq_MainComp.0031.exr
Saved/MovieRenders/Sq_MainComp.0030.exr
Saved/MovieRenders/Sq_MainComp.0029.exr
Saved/MovieRenders/Sq_MainComp.0028.exr
Saved/MovieRenders/Sq_MainComp.0027.exr
Saved/MovieRenders/Sq_MainComp.0026.exr
Saved/MovieRenders/Sq_MainComp.0025.exr
Saved/MovieRenders/Sq_MainComp.0024.exr
Saved/MovieRenders/Sq_MainComp.0023.exr
Saved/MovieRenders/Sq_MainComp.0014.exr
Saved/MovieRenders/Sq_MainComp.0013.exr
Saved/MovieRenders/Sq_MainComp.0012.exr
Saved/MovieRenders/Sq_MainComp.0011.exr
Saved/MovieRenders/Sq_MainComp.0010.exr
Saved/MovieRenders/Sq_MainComp.0009.exr
Saved/MovieRenders/Sq_MainComp.0008.exr
Saved/MovieRenders/Sq_MainComp.0007.exr
Saved/MovieRenders/Sq_MainComp.0006.exr
Saved/MovieRenders/Sq_MainComp.0005.exr
Saved/MovieRenders/Sq_MainComp.0004.exr
Saved/MovieRenders/Sq_MainComp.0003.exr
Saved/MovieRenders/Sq_MainComp.0002.exr
Saved/MovieRenders/Sq_MainComp.0001.exr
Saved/Logs/GTVisComposureRender_2.log
Saved/Logs/GTVisComposureRender_2-backup-2021.07.17-21.07.46.log
Saved/Logs/GTVisComposureRender.log
Saved/Logs/GTVisComposureRender-backup-2021.07.18-17.54.38.log
Saved/Logs/GTVisComposureRender-backup-2021.07.18-16.51.21.log
Saved/Logs/GTVisComposureRender-backup-2021.07.18-15.52.30.log
Saved/Logs/GTVisComposureRender-backup-2021.07.17-21.07.46.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-07.04.11.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-05.21.06.log
Saved/Config/WorldState/3944650773.json
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-C81BEC45461BB2F1197A12842640A903/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-B24F7B9A4CC24EC749CB6BBCCC6C051C/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-9FB5CFD840A505A63C6875ABFCA7F562/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-5176AB3A4999D0BD846D959ACCE500D1/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-07CA1CA04CF6ACD4647A9B9D5CE21045/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Visualization/Meshes/lambert1_Auto3.uasset
Saved/Autosaves/Game/Visualization/Materials/Textures/Materials/BrushedAluminium/shkafchc_4K_Roughness_Auto2.uasset
Saved/Autosaves/Game/Visualization/Materials/Textures/Materials/BrushedAluminium/shkafchc_4K_Normal_Auto2.uasset
Saved/Autosaves/Game/Visualization/Materials/Textures/Materials/BrushedAluminium/shkafchc_4K_Metalness_Auto2.uasset
Saved/Autosaves/Game/Visualization/Materials/Textures/Materials/BrushedAluminium/shkafchc_4K_Albedo_Auto2.uasset
Saved/Autosaves/Game/Visualization/Materials/M_MetalAnisotropic_Inst_Auto4.uasset
Saved/Autosaves/Game/Visualization/LightsAndCameras_Auto3.umap
Saved/Autosaves/Game/Visualization/Composure/Sq_MainComp_Auto2.uasset
Saved/Autosaves/Game/Visualization/Composure/Sq_Camera_Auto2.uasset
Saved/Autosaves/Game/Visualization/Composure/M_PP_Comp_Auto2.uasset
Saved/Autosaves/Game/Visualization/CamLightFX_Auto3.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto3.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto2.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto1.umap
Saved/MovieRenders/Sq_MainComp.0068.exr
Saved/MovieRenders/Sq_MainComp.0067.exr
Saved/MovieRenders/Sq_MainComp.0066.exr
Saved/MovieRenders/Sq_MainComp.0065.exr
Saved/MovieRenders/Sq_MainComp.0037.exr
Saved/MovieRenders/Sq_MainComp.0036.exr
Saved/MovieRenders/Sq_MainComp.0035.exr
Saved/MovieRenders/Sq_MainComp.0034.exr
Saved/MovieRenders/Sq_MainComp.0033.exr
Saved/MovieRenders/Sq_MainComp.0032.exr
Saved/MovieRenders/Sq_MainComp.0031.exr
Saved/MovieRenders/Sq_MainComp.0030.exr
Saved/MovieRenders/Sq_MainComp.0029.exr
Saved/MovieRenders/Sq_MainComp.0028.exr
Saved/MovieRenders/Sq_MainComp.0027.exr
Saved/MovieRenders/Sq_MainComp.0026.exr
Saved/MovieRenders/Sq_MainComp.0025.exr
Saved/MovieRenders/Sq_MainComp.0024.exr
Saved/MovieRenders/Sq_MainComp.0023.exr
Saved/MovieRenders/Sq_MainComp.0014.exr
Saved/MovieRenders/Sq_MainComp.0013.exr
Saved/MovieRenders/Sq_MainComp.0012.exr
Saved/MovieRenders/Sq_MainComp.0011.exr
Saved/MovieRenders/Sq_MainComp.0010.exr
Saved/MovieRenders/Sq_MainComp.0009.exr
Saved/MovieRenders/Sq_MainComp.0008.exr
Saved/MovieRenders/Sq_MainComp.0007.exr
Saved/MovieRenders/Sq_MainComp.0006.exr
Saved/MovieRenders/Sq_MainComp.0005.exr
Saved/MovieRenders/Sq_MainComp.0004.exr
Saved/MovieRenders/Sq_MainComp.0003.exr
Saved/MovieRenders/Sq_MainComp.0002.exr
Saved/MovieRenders/Sq_MainComp.0001.exr
Saved/Logs/GTVisComposureRender_2.log
Saved/Logs/GTVisComposureRender.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-07.04.11.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-05.21.06.log
Saved/Config/WorldState/3944650773.json
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Visualization/Composure/Sq_MainComp_Auto2.uasset
Saved/Autosaves/Game/Visualization/Composure/Sq_Camera_Auto2.uasset
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto3.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto2.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto1.umap
Saved/MovieRenders/Sq_MainComp.0068.exr
Saved/MovieRenders/Sq_MainComp.0067.exr
Saved/MovieRenders/Sq_MainComp.0066.exr
Saved/MovieRenders/Sq_MainComp.0065.exr
Saved/MovieRenders/Sq_MainComp.0037.exr
Saved/MovieRenders/Sq_MainComp.0036.exr
Saved/MovieRenders/Sq_MainComp.0035.exr
Saved/MovieRenders/Sq_MainComp.0034.exr
Saved/MovieRenders/Sq_MainComp.0033.exr
Saved/MovieRenders/Sq_MainComp.0032.exr
Saved/MovieRenders/Sq_MainComp.0031.exr
Saved/MovieRenders/Sq_MainComp.0030.exr
Saved/MovieRenders/Sq_MainComp.0029.exr
Saved/MovieRenders/Sq_MainComp.0028.exr
Saved/MovieRenders/Sq_MainComp.0027.exr
Saved/MovieRenders/Sq_MainComp.0026.exr
Saved/MovieRenders/Sq_MainComp.0025.exr
Saved/MovieRenders/Sq_MainComp.0024.exr
Saved/MovieRenders/Sq_MainComp.0023.exr
Saved/MovieRenders/Sq_MainComp.0014.exr
Saved/MovieRenders/Sq_MainComp.0013.exr
Saved/MovieRenders/Sq_MainComp.0012.exr
Saved/MovieRenders/Sq_MainComp.0011.exr
Saved/MovieRenders/Sq_MainComp.0010.exr
Saved/MovieRenders/Sq_MainComp.0009.exr
Saved/MovieRenders/Sq_MainComp.0008.exr
Saved/MovieRenders/Sq_MainComp.0007.exr
Saved/MovieRenders/Sq_MainComp.0006.exr
Saved/MovieRenders/Sq_MainComp.0005.exr
Saved/MovieRenders/Sq_MainComp.0004.exr
Saved/MovieRenders/Sq_MainComp.0003.exr
Saved/MovieRenders/Sq_MainComp.0002.exr
Saved/MovieRenders/Sq_MainComp.0001.exr
Saved/Logs/GTVisComposureRender_2.log
Saved/Logs/GTVisComposureRender.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-07.04.11.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-05.21.06.log
Saved/Config/WorldState/3944650773.json
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Visualization/Composure/Sq_MainComp_Auto2.uasset
Saved/Autosaves/Game/Visualization/Composure/Sq_Camera_Auto2.uasset
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto3.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto2.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto1.umap
Saved/MovieRenders/Sq_MainComp.0068.exr
Saved/MovieRenders/Sq_MainComp.0067.exr
Saved/MovieRenders/Sq_MainComp.0066.exr
Saved/MovieRenders/Sq_MainComp.0065.exr
Saved/MovieRenders/Sq_MainComp.0037.exr
Saved/MovieRenders/Sq_MainComp.0036.exr
Saved/MovieRenders/Sq_MainComp.0035.exr
Saved/MovieRenders/Sq_MainComp.0034.exr
Saved/MovieRenders/Sq_MainComp.0033.exr
Saved/MovieRenders/Sq_MainComp.0032.exr
Saved/MovieRenders/Sq_MainComp.0031.exr
Saved/MovieRenders/Sq_MainComp.0030.exr
Saved/MovieRenders/Sq_MainComp.0029.exr
Saved/MovieRenders/Sq_MainComp.0028.exr
Saved/MovieRenders/Sq_MainComp.0027.exr
Saved/MovieRenders/Sq_MainComp.0026.exr
Saved/MovieRenders/Sq_MainComp.0025.exr
Saved/MovieRenders/Sq_MainComp.0024.exr
Saved/MovieRenders/Sq_MainComp.0023.exr
Saved/MovieRenders/Sq_MainComp.0014.exr
Saved/MovieRenders/Sq_MainComp.0013.exr
Saved/MovieRenders/Sq_MainComp.0012.exr
Saved/MovieRenders/Sq_MainComp.0011.exr
Saved/MovieRenders/Sq_MainComp.0010.exr
Saved/MovieRenders/Sq_MainComp.0009.exr
Saved/MovieRenders/Sq_MainComp.0008.exr
Saved/MovieRenders/Sq_MainComp.0007.exr
Saved/MovieRenders/Sq_MainComp.0006.exr
Saved/MovieRenders/Sq_MainComp.0005.exr
Saved/MovieRenders/Sq_MainComp.0004.exr
Saved/MovieRenders/Sq_MainComp.0003.exr
Saved/MovieRenders/Sq_MainComp.0002.exr
Saved/MovieRenders/Sq_MainComp.0001.exr
Saved/Logs/GTVisComposureRender_2.log
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-20E1FB154228306732A28B85A6D64698/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-3B8571FB4893674BDF1DF98C4684CBC3/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-567E591E4B0C0A832D0384893D0CDB77/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-5B390771475DFBA47170ED93AB42ABB9/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-6017724148F0F61488F6ED8A307E29F9/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-945014334A02DE9FBFF9F18FDEC3D2F8/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-ADEBCFC04D3EF1C875260BADADDAC7C8/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-B151BAB446AA4371E786B89871B5AB5E/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-CE1D7D3C4ED334356484A68E9F810942/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-DC72499D4113CD7D8C9EA5A75F522F31/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-ED35374F4657B6423A27789F1A3CF6CC/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-EF71B02443C29CE218C3A9977ABD7260/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WorldState/3944650773.json
Saved/Logs/GTVisComposureRender-backup-2021.07.16-08.29.01.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-08.40.41.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-10.39.41.log
Saved/Logs/GTVisComposureRender-backup-2021.07.16-13.17.05.log
Saved/Logs/GTVisComposureRender-backup-2021.07.18-18.23.36.log
Saved/Logs/GTVisComposureRender-backup-2021.07.19-08.17.07.log
Saved/Logs/GTVisComposureRender-backup-2021.07.19-10.32.26.log
Saved/Logs/GTVisComposureRender-backup-2021.07.19-13.26.35.log
Saved/Logs/GTVisComposureRender.log
Saved/MovieRenders/Sq_MainComp.0015.exr
Saved/MovieRenders/Sq_MainComp.0016.exr
Saved/MovieRenders/Sq_MainComp.0017.exr
Saved/MovieRenders/Sq_MainComp.0018.exr
Saved/MovieRenders/Sq_MainComp.0019.exr
Saved/MovieRenders/Sq_MainComp.0020.exr
Saved/MovieRenders/Sq_MainComp.0021.exr
Saved/MovieRenders/Sq_MainComp.0022.exr
Saved/MovieRenders/Sq_MainComp.0038.exr
Saved/MovieRenders/Sq_MainComp.0039.exr
Saved/MovieRenders/Sq_MainComp.0040.exr
Saved/MovieRenders/Sq_MainComp.0041.exr
Saved/MovieRenders/Sq_MainComp.0042.exr
Saved/MovieRenders/Sq_MainComp.0043.exr
Saved/MovieRenders/Sq_MainComp.0044.exr
Saved/Screenshots/WindowsEditor/Gas_Side.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00004.png
Saved/Autosaves/Game/Visualization/Composure/Sq_MainComp_Auto1.uasset
Saved/Autosaves/Game/Visualization/Composure/Sq_Camera_Auto1.uasset
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto1.umap
Saved/Autosaves/Game/StarterContent/Maps/Minimal_Default_Auto1.umap
